<%- include("partials/header.ejs")%>
<body>
    <%- include("partials/navbar.ejs")%>
    <div class="container">
        <hr>
        <h1><%= pergunta.title %></h1>
        <p><%= pergunta.description %></p>
        <hr>

        <form action="/responder" method="post">
            <h3>Responda:</h3>
            <label for="">Resposta</label>
            <textarea name="body" id="" cols="30" rows="10" placeholder="Digite sua resposta" class="form-control"></textarea>
            <input type="hidden" name="questionId" value="<%= pergunta.id %>" id="">
            <br>
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>
        <hr>
        <h3>Respostas</h3>
        <hr>
        <%respostas.forEach(resposta => {%>
           
            <div class="card">
                <div class="card-body">
                    <%= resposta.body%>
                </div>
            </div>
            <br>
        <%})%>
    </div>
   
</body>
<%- include("partials/footer.ejs")%>